*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    color: #666f77;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
}
.ul_menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px;
}
.ul_menu>li{
    text-align: center;
    padding: 8px;
}
.ul_menu>li:hover{
    color: #629DD1;
    cursor: pointer;
    transition: 0.5s;
}
.a_ion{
    text-decoration: none;
    color: #666f77;

}
.div_ion{
    width: 45%;
    font-size: 20px;
    padding: 8px;
    align-self: center;
    cursor: pointer;
}
.div_menu{
    width: 45%;
}
.div_background{
        display: flex;
        background: url(banner.jpg) no-repeat center ;
        width: 100%;
        background-size: cover;
        justify-content: center;
        text-align: center;
        padding: 9em 0;
}
.li_signin{
    background-color: #629DD1;
    border-radius: 6px;
    width: 95px;
    height: 35px;
    text-align: center;
    color: white;
    letter-spacing: 0.125em;
   
}
.li_signin:hover{
    color: white;
    background-color: #629dd1e8;
    transition: 0.1s;
    
}
.div_this{
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 400px; */
}
h1{
    font-size: 3.5em;
    letter-spacing: 0.125em;

}
.p_free{
    font-size: 1.5em;
    color: #d8d8d8;
    margin-top: 20px;
}
.div_btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-self: center;

}
.btn_signup{
    width: 230px;
    height: 50px;
    background-color: #629dd1e8;
    color: white;
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    font-size: 19px;
    letter-spacing: 0.125em;
}
.btn_learn{
    width: 230px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 19px;
    letter-spacing: 0.125em;
}
.btn_signup:hover{
    cursor: pointer;
    background-color: #629DD1;
    transition: 0.5s;
}
.btn_learn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.171);
    transition: 0.5s;
}

.div_ipsum{
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}
.div_ipsum1{
    width: 90%;
    align-self: center;
}
.div_ipsum2{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 60px;
    align-self: center;
}
h2{
    text-align: center;
    font-size: 2em;
    color: #666f77;
    letter-spacing: 0.25em;
}

.p_tempus{
    text-align: center;
    font-size: 1.5em;
    color: #bbb;
}

.div_ipsum2>div{
    width: 360px;
    height: 370px;
    border: 1px solid #666f7745;
}

.div_justo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_blandit{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.div_amet{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_icon1{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 90px;
    display: flex;
    height: 90px;
    align-self: center;
    color: white;
    background-color: #629dd1e8;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgb(144 144 144 / 25%);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.div_icon2{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 90px;
    display: flex;
    height: 90px;
    align-self: center;
    color: white;
    background-color: #629dd1e8;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgb(144 144 144 / 25%);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.div_icon3{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 90px;
    display: flex;
    height: 90px;
    align-self: center;
    color: white;
    background-color: #629dd1e8;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgb(144 144 144 / 25%);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.h3_ipsum{
    text-align: center;
    color: #666f77;
    letter-spacing: 0.125em;
}
.p_ipsum{
    text-align: center;
    color: #666f77;
    line-height: 30px;
}

.div_icon1::before {
    content: '\f1fe';
    font-family: fontawesome;
} 
.div_icon2::before {
    content: '\f021';
    font-family: fontawesome;
}
.div_icon3::before {
    content: '\f013';
    font-family: fontawesome;
}
.div_commodo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background: #192024;
    color: #c5c7c8;
    text-align: center;
}

.div_pics{
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 65px;
   
}
.div_pic_1{
    width: 570px;
}
.div_pic_2{
    width: 570px;
}
.h4_pics{
    font-size: 1.25em;
    color: white;
    letter-spacing: 0.125em;
    margin-top: 30px;
}
.p_pics{
    margin: 2em 0 2em 0;
    line-height: 25px;
}
.learn_more{
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 6px;
    background-color: transparent;
    width: 195px;
    height: 48px;
    font-size: 17px;
}
.img:hover{
    cursor: pointer;
}
.learn_more:hover{
    background-color: #ffffff1f;
    cursor: pointer;
    transition: 0.5s;
}

.div_mollis{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 100px;
    justify-content: space-between;
    color: #555f66;
    flex-wrap: wrap;

}
.div_mollis_1{
    display: flex;
    flex-direction: column;
    width: 65%;

}
.div_magna{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.h2_mollis{
    font-size: 1.5em;
    text-align: start;
    line-height: 60px;
    
}
.h4_magna{
    font-size: 1.25em;
    line-height: 3.5em;
}
.btn_magna{
    border: 1px solid #d8d8d8;
    color: #555f66;
    outline: none;
    border-radius: 6px;
    background-color: transparent;
    width: 195px;
    height: 48px;
    font-size: 17px;
    margin-top: 30px;

}
.h4_ante{
    font-size: 1.25em;
    line-height: 3.5em;
}
.ul_ante{
    color: #629dd1e8;
}
.ul_ante>li{
    border: 1px solid transparent;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
    text-decoration: underline;
}
.ul_ante>li:hover{
    cursor: pointer;
    text-decoration: none;
}
.btn_magna:hover{
    cursor: pointer;
    background-color: rgb(231, 230, 230);
    transition: 0.5s;
}

footer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: rgb(231 230 230 / 46%);
}
.div_footer_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: 80px auto;
}
.div_footer_1>:first-child{
    width: 20%;

}
.div_footer_1>div:nth-child(2){
    width: 20%;
}
.div_footer_1>:last-child{
    width: 45%;
}
.h4_accumsan{
    font-size: 1.25em;
    line-height: 2.5em;
    letter-spacing: 0.125em;
    color: #666f77;
}
.ul_accumsan>li{
    border: 1px solid transparent;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
    text-decoration: underline;
    color: #666f77;
}

.h4_faucibus{
    font-size: 1.25em;
    line-height: 2.5em;
    letter-spacing: 0.125em;
    color: #666f77;
}
.ul_faucibus>li{
    border: 1px solid transparent;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
    text-decoration: underline;
    color: #666f77;
}
.h3_aliquam{
    font-size: 1.25em;
    line-height: 2.5em;
    letter-spacing: 0.125em;
    color: #666f77;
}
.p_blandit{
    line-height: 25px;
    margin-top: 20px;
    color: #666f77;
}
.div_icons{
    display: flex;
    margin-top: 20px;
    width: 200px;
    flex-flow: row wrap;
    font-size: 30px;
    color: #a5a0a0;
    justify-content: space-between;
}
.div_footer_p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}
.div_footer_p>p{
    border: 1px solid transparent;
    padding: 7px 15px 7px 15px;    
    color: #beb9b9;
    font-size: 14px;
}
.div_footer_p>p:nth-child(1){
    border-right: 1px solid #beb9b9;
}
.div_footer_p>p:nth-child(2){
    border-right: 1px solid #beb9b9;
}
.div_footer_p>p:nth-child(3){
    border-right: 1px solid #beb9b9;
}

@media (max-width:980px){
    header{
        display: none;
    }
    .div_ipsum2>div{
        width: 100%;
    }
    .div_pic_1{
        width: 100%;
    }
    .div_pic_2{
        width: 100%;
        margin-top: 30px;
    }
    .div_mollis_1{
        width: 100%;
    }
    .div_magna{
        width: 100%;
    }
    .div_footer_1>div:first-child{
        width: 48%;
    }
    .div_footer_1>div:nth-child(2){
        width: 48%;
    }
    .div_footer_1>div:last-child{
        width: 100%;
    }
}

@media (max-width: 736px){
    .div_footer_p{
        width: 40%;
    }
    .div_ipsum1>h2{
        font-weight: 100;
        font-size: 25px;
    }
    .div_ipsum1>p{
        font-size: 20px;
    }
    .div_ipsum2>div{
        margin-top: 20px;
    }
    .div_footer_p{
        margin: unset;
        justify-content: unset;
    }
    .div_footer_p>p:nth-child(1){
        border-right: none;
    }
    .div_footer_p>p:nth-child(2){
        border-right: none;
    }
    .div_footer_p>p:nth-child(3){
        border-right: none;
    }
}